<div class="input-group mb-3">
    <input #foodInput type="text" class="form-control" placeholder="What are you eating?" aria-label="type of food">
    <div class="input-group-append">
        <button (click)="searchForBeer(foodInput.value)" class="btn btn-outline-secondary" type="button">Beer Me!</button>
    </div>
</div>

<div class="list-container">
    <div *ngIf="(beers$ | async)?.length === 0">
        <h2>Sorry we couldn't find you a beer... Click the big red button to be spoilt for choice!</h2>
        <button class="big-red-button" (click)="searchForBeer('')">BEER ME</button>
    </div>
    <app-beer-list-item class="list-item" *ngFor="let beer of beers$ | async" [image]="beer.image_url" [name]="beer.name" [tagline]="beer.tagline"></app-beer-list-item>
</div>